body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
To