.book-details {
    max-width: 600px;
    height: 600px;
    margin: 50px auto; /* Center the book details */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-details img {
    display: block;
    margin: 0 auto 20px;
    max-width: 250px;
    height: auto;
}

.book-details p {
    text-align: left; /* Align text to the left */
    margin-left: 10px; /* Add some left margin */
}

.book-details button {
    margin-top: 20px; /* Add some top margin */
    display: block;
    margin-left: auto;
    margin-right: 0;
}