section p{
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}
.bal {
    background: rgba(182, 221, 241, 0.6);
    clear: both;
    display: table;
}
.bal img{
    display: block;
    margin-left: 20px;
    margin-right: 0px;
    width: 10%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 200ms;
}
.jobb{
    background: #fff;
    clear: both;
    display: table;
}
.jobb img{
    display: block;
    margin-left: 0px;
    margin-right: 20px;
    width: 10%;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 200ms;
}
#gyemant{
    width: 15%;
}
#lauda{
    width: 15%;
}
#seb{
    width: 15%;
}
img:hover{
    transform: scale(1.5);
}
@media only screen and (max-width: 950px) {
    main > * {
        padding: 15px;
    }

    .warning.center {
        text-align: left;
    }

    nav li {
        width: 100%;
        clear: both;
    }
    #tortenelem-menu li{
        width: 100%;
        clear: both;
    }
    .bal img {
        width: 60%;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    .jobb img{
        width: 60%;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    img:hover{
        transform: none;
    }
    #gyemant{
        width: 60%;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    #lauda{
        width: 40%;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    #seb{
        width: 60%;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 850px) {
    header h1 {
        font-size: 22px;
        text-shadow: 2px 2px black;
        letter-spacing: 3px;
    }
}

@media print {
    header, nav, .jobb img, .bal img,
    #audio, footer {
        display: none;
    }
}
