.container {
    max-width: 600px;
    margin: 50px auto; /* Center the book details */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
    margin: 10px 0;
}