.form-container {
    padding: 20px;
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    margin: 40px auto;
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 600px;
}

form > input:not([type="file"]),
form > select,
form > textarea {   
    display: block;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

form > div {
    margin: 20px auto;
    width: 100%;
}

.checkbox-container > * {
    display: block;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

input[type="submit"],
input[type="reset"] {
    border: none;
    color: white;
    font-size: 110%;
    text-transform: uppercase;
}

input[type="submit"] {
    background-color: royalblue;
    cursor: pointer;
    border-radius: 10px;
}

input[type="reset"] {
    margin-top: 30px !important;
    background-color: cornflowerblue;
    border-radius: 10px;
}

*:required:focus {
    outline: auto;
    outline-color: darkcyan;
}

*:focus,
.login-outline-off:focus {
    outline: none;
}

.required {
    color: #cc0000;
}

.profile-icon {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
}
@media only screen and (max-width: 725px) {
    .form-container {
        margin: 0 auto;
        margin-bottom: 60px;
        width: inherit;
    }
}

@media print {
    label[for="profile-picture-label"],
    input[type="file"],
    .checkbox-container,
    input[type="submit"],
    input[type="reset"],
    .required {
        display: none !important;
    }
}