
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* Negative margin to offset padding in columns */
}
.col {
    flex: 0 0 calc(20% - 20px); /* Adjust the width for 5 columns */
    margin: 0 10px 20px; /* Column margin with extra bottom margin */
}
.img {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
}

.img h2 {
    margin-top: 0;
    flex-grow: 0; /* Do not allow the title to grow */
    font-size: 1em;
}

.img p {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1; /* Allow the description to grow */
}

.img img {
    height: 100%; /* Fill the available height */
    width: auto; /* Maintain aspect ratio */
}