
table{
    background: white;
    color: black;
    border-collapse: collapse;
    width: 100%;
    border: solid black 1px;

}
caption{
    background: #0a1838;
    color:white;
    padding: 25px;
}
th, td, tr{
    padding: 25px;
    border: none;
}
#pfp{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.button{
    font-size: large;
    margin-left: 0%;
    background-color: #540202;
    color: white;
    padding: 30px;
    border-radius: 10px;
    float: right;
}
.button a{
    background-color: #540202;
    color: white;
}

