html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: steelblue;
    color: #fff;
    padding: 2px 0;
    text-align: center;
}
nav {
    background-color: lightskyblue;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
    background-color: royalblue;

}
section{
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;

}

section p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: center;
}

.img{
    content: "";
    clear: both;
    display: table;
}

.img img{
    display: block;
    margin-left: 0;
    margin-right: 20px;
    width: 10%;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
}

h1{
    font-size: 5px;
}




section{
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
}
section p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

table{
    background: rgba(182, 221, 241, 0.6);
    color: black;
    border: solid black 2px;
    border-collapse: collapse;
    width: 100%;

}
caption{
    background: #0a1838;
    color:white;
    padding: 25px;
}
th, td, tr{
    border: solid black 1px;
    padding: 15px;

}
div{

}
.warning {
    background-color: rgb(232, 149, 149);
    padding: 20px;
    border-left: 5px solid #ff0000;
    border-radius: 1px 10px 10px 1px;
}

header h1 {
    font-size: 42px;
    color: white;
    border: burlywood;
    letter-spacing: 5px;
    text-transform: uppercase;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
    width: 33.3%;
    text-align: center;
}


#active {
    background-color: royalblue;
}


footer {
    padding: 20px 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

